.b {
     background: #151718;
     color: #A074C4;
     padding: 10px;
     border-radius: 5px;
     margin: 0;
     font-family: "Lucida Console", "Courier New", monospace;
}


body {
     background: #072343;
}


.blue {
    font-family: "Lucida Console", "Courier New", monospace;
    color: #50AACD;
}

